/* ******************************** */
/* Optional DroneDeploy App Styling */
/* ******************************** */
/* *********** */
/* Class Names */
/* *********** */
.error{
  color: #FF4081;
}

.accent{
  color: #039be5;
}

/* *********** */
/* Tag Styling */
/* *********** */
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #039be5;
}

button {
  font-size: 16px;
  color: #039be5;
  background: 0 0;
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: 0px 10px;
  margin: 0;
  min-width: 88px;
  line-height: 36px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
}

button:hover {
  background: rgba(158,158,158,0.2);
}

button.primary {
  color: white;
  background-color: #607d8b;
}

button.primary:hover {
  color: white;
  background-color: #546e7a;
}

input{
  font: inherit;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  padding-bottom: 4px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.38);
}
input:focus{
  border-bottom: 2px solid #2196F3;
}

/* Changes the placeholder color */
::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.38); }
:-moz-placeholder { color: rgba(0, 0, 0, 0.38); }
::-moz-placeholder { color: rgba(0, 0, 0, 0.38); }
:-ms-input-placeholder { color: rgba(0, 0, 0, 0.38); }

/* ***** */
/* Fonts */
/* ****** */
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ************************** */
/* End of DroneDeploy Styling */
/* ************************** */
